.main-page-navbar .navbar-dark .navbar-brand,
.main-page-navbar .navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.margin-top-div-login {
    margin-top: 100px;
}

.border-radius-5px {
    border-radius: 5px;
}

.image-restyle {
    width: 130px;
    height: 100px;
    margin-top: 7px;
    margin-bottom: 7px;
}

@media only screen and (max-width: 767px) {
    .margin-top-div-login {
        margin-top: 50px;
    }
}
