.main-page-navbar .navbar-dark .navbar-brand,
.main-page-navbar .navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.margin-top-div-login {
    margin-top: 100px;
}

.border-radius-5px {
    border-radius: 5px;
}

.image-restyle {
    width: 130px;
    height: 100px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.pagination-restyle {
    text-align: right;
    font-size: 10px;
}

.pagination-restyle li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 3px;
    background-color: #3f51b5;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.pagination-restyle li:hover {
    cursor: pointer;
}

.pagination-restyle .rc-pagination-item-active {
    border: 2px solid red;
}

.home-page-div-for-card {
    float:left;
    width: 33%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.home-page-div-for-card a:hover {
    text-decoration: none;
}
.home-page-div-for-card .MuiCardContent-root {
    min-height: 133px;
}

.error-input-field {
    width: 90%;
    display: inline-flex;
    text-align: left;
    font: italic;
    color: #e3342f !important;
}

#view-news-page .makeStyles-media-11 {
    height: 340px !important;
}
#view-news-page .makeStyles-root-10 {
    max-width: 100%;
}

@media only screen and (max-width: 1199px) {
    #home-main-div .MuiCardContent-root {
        min-height: 153px;
    }
}

@media only screen and (max-width: 991px) {

    .home-page-div-for-card .MuiCardContent-root {
        min-height: 193px;
    }
}

@media only screen and (max-width: 767px) {
    .margin-top-div-login {
        margin-top: 50px;
    }
    .home-page-div-for-card {
        width: 100%;
    }

    .home-page-div-for-card .MuiCardContent-root {
        min-height: 153px;
    }
}
